*{
    background-color: rgb(255, 255, 255);
}

ul{
    list-style: none;
}


.header-container{
display:flex ;
flex-direction: row;
justify-content: space-around;
height: 30%;
width: auto;
margin: auto;
border: 4px solid rgb(252, 6, 6);
}
.logo-container{
    display:flex ;
    height: 80px;
    width: 80px;
}
.login-container{
    display:flex ;

}


.main-container{
    display:flex ;
    flex-direction: column;
    height: 60%;
    width: 90%;
    align-items: center;
    border: 4px solid rgb(252, 6, 6);
}
.footer-container{
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
    height: 30%;
    width: auto;
    border: 4px solid rgb(252, 6, 6);
}

.img-container{
    background-color: rgb(176, 187, 27);
    display:flex ;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
    width: 50%;
    border: 4px solid rgb(252, 6, 6);
}
.action-container{
    display: flex;
    justify-content: end;
}



